@page
@using System.Collections
@model IndexModel
@{
    ViewData["Title"] = "Whistleblower";
}

<div class="text-center">
    <h3>Environment Variables</h3>
</div>


<table>
	<thead>
		<tr>
			<th><div>Name</div>
			<th><div>Value</div>
        </tr>
    </thead>
    <tbody>


@foreach(DictionaryEntry kv in Environment.GetEnvironmentVariables()){
        <tr>
            <td>
                <div>@kv.Key</div>
            </td>
            <td>
                <div>@kv.Value</div>
            </td>
        </tr>
}
    </tbody>
</table>