@page
@model IndexModel
@{
    ViewData["Title"] = "Whistleblower";
}

<div class="text-center">
    <h3>Environment Variables</h3>
</div>


<table>
	<thead>
		<tr>
			<th><div>Name</div>
			<th><div>Value</div>
        </tr>
    </thead>
    <tbody>

@foreach (EnvVar variable in Model.Variables)
{
        <tr>
            <td>
                <div>@variable.Name</div>
            </td>
            <td>
                <div>@variable.Value</div>
            </td>
        </tr>
}
    </tbody>
</table>